body{
    background-color: white;
}
#ball{
    position: absolute;
    z-index: 0;
}
#box{
    position: absolute;
    z-index: 0;
    height: 100px;
}
.debug{
  align-content: center;
  color: black;
  position: absolute;
  z-index: 1;
}